body {
  font-family: Arial;
  margin: 0;
}

h1 {
  margin: 0;
  padding: 0;
}

input {
  border: none;
  font-size: 14px;
  padding: 8px;
  background: none;
}

.header {
  text-align: center;
  background-color: lightgray;
  border-bottom: 2px solid;
  padding: 16px;
}

.stickyStats {
  position: sticky;
  top: 0;
  background: white;
  box-shadow: 0 2px 5px gray;
  padding: 8px 0;
}

.itemsList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  border-bottom: 1px solid;
  display: flex;
  justify-content: space-between;
}

.listItem.edited {
  border-left: 16px solid orange;
}

.listItem.saved {
  border-left: 16px solid green;
}

.listItem.editing {
  background: pink;
}

.addItem {
  text-align: center;
  background: lightgray;
  padding: 8px 0;
  font-weight: bold;
  width: 100%;
  border: none;
}

.removeItem {
  flex-grow: 0;
  padding: 8px;
}

.itemAmount, .itemName {
  flex-grow: 1;
  flex-basis: 0;
  padding: 8px;
}
